{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about-us-wrapper pt-60 pb-40">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6 order-last order-lg-first">
                <div class="about-text-wrap">
                    <h2><span>Who are we?</span>Captain Mart</h2>
                    <p>
                        Captain Mart is your trusted destination for quality electronics at unbeatable prices. Whether
                        you're looking for the
                        latest smartphone, a reliable laptop, or essential home appliances, we’ve got you covered. Our
                        mission is simple: to
                        make top-tier technology accessible and affordable for everyone.</p>
                    <p>Some of our customer say that they trust us and buy our product without any hagitation because
                        they belive us and always happy to buy our product.</p>
                    <p>We provide the beshat they trusted us and buy our product without any hagitation because they
                        belive us and always happy to buy.</p>
                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-lg-5 col-md-10">
                <div class="about-image-wrap">
                    <img class="img-full" src="{% static 'assets/images/product/large-size/13.jpg' %}" alt="About Us">
                </div>
            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>

<div class="counterup-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6">
                <!-- Begin Limupa Counter Area -->
                <div class="limupa-counter gray-bg">
                    <div class="container">
                        <div class="counter-img">
                            <img src="{% static 'images/about-us/icon/1.png' %}" alt="">
                        </div>
                        <div class="counter-info">
                            <div class="counter-number">
                                <h3 class="counter">300</h3>
                            </div>
                            <div class="counter-text">
                                <span>HAPPY CUSTOMERS</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter white-smoke-bg">
                    <div class="counter-img">
                        <img src="{% static 'images/about-us/icon/3.png' %}" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">680</h3>
                        </div>
                        <div class="counter-text">
                            <span>HOURS WORKED</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter gray-bg">
                    <div class="counter-img">
                        <img src="{% static 'images/about-us/icon/4.png' %}" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">40</h3>
                        </div>
                        <div class="counter-text">
                            <span>COMPLETE PROJECTS</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-12">
            <div class="li-section-title capitalize mb-25">
                <h2><span>Why choose Captain Mart?</span></h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}