{% extends 'base.html' %}
{% load static %}
{% block title %} - Details {% endblock %}
{% block content %}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active">{{ product.prod_name }}</li>
            </ul>
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.prod_name }}" class="img-fluid rounded details-img"
                style="width:400px; height: auto; margin: auto;" />
        </div>
        <div class=" col-md-6">
            <p class=" fw-3 fs-4 my-3 text-primary" style="font-size: 25px; padding-bottom: 20px;">
                {{ product.prod_name }}
            </p>
            <p class="text-muted mb-3">{{ product.description }}</p>
            <p class="text-danger fw-light fs-4 mb-3" style="font-size: 30px;
                      border-bottom: 1px solid gray;
                      padding-bottom: 25px;
                      padding-top: 30px;">
                {{ product.price }} br.
            </p>
            <form method="POST">
                {% csrf_token %}
                <p class="fw-bold text-dark fst-italic mb-2">if you want to place an order, put your phone number below.
                </p>
                <div class="d-flex align-items-center w-auto mt-0">
                    <input name="ph_no" type="tel" class="form-control" placeholder="123-4567-8901" required
                        style="width: 50%; margin-right: 10px;" />

                    <button class="btn btn-success ms-3"> Place an order </button>
                </div>
            </form>

            <div class="product-social-sharing pt-25">
                <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a>
                    </li>
                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                </ul>
            </div>
            <div> <a href="{% url 'home' %}" class="btn btn-outline-success mt-3">Back to Products</a>
            </div>
        </div>
    </div>


    <div class="li-section-title" style="margin-top: 40px; margin-bottom: 15px;">
        <h2 style="margin-left: 40px;"><span>Similar Products</span></h2>
    </div>
    <div class="container d-flex flex-wrap justify-content-between align-items-center mb-4">
        {% for simi in similar %}
        <div class="rounded-lg m-auto" style="min-width: 130px; padding: 10px;">
            <a href="{% url 'details' simi.id %}">
                <img src="{{ simi.image.url }}" alt="" style="width: 100%; height:auto;">
            </a>
        </div>

        {% endfor %}
    </div>



    {% endblock %}