{% load static %}

<div class="featured-pro-with-banner mt-sm-5 pb-sm-10 mt-xs-5 pb-xs-10">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Featured Banner Area -->
            <div class="col-lg-3 text-center">
                <div class="single-banner featured-banner">
                    <a href="#">
                        <img src="{% static 'assets/images/banner/featured-banner.jpg' %}" alt="Li's Featured Banner">
                    </a>
                </div>
            </div>
            <!-- Li's Featured Banner Area End Here -->

            <!-- Begin Featured Product Area -->
            <div class="col-lg-9">
                <div class="featured-product pt-sm-30 pt-xs-30">
                    <div class="li-section-title">
                        <h2>
                            <span>Featured Products</span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="featured-product-active owl-carousel owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(-900px, 0px, 0px); transition: all; width: 2250px;">
                                    <div class="owl-item" style="width: 450px;">
                                        <div class="featured-product-bundle">
                                            <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                                <div class="product-img">
                                                    <a href="/results?query=laptop">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=laptop">Laptop</a>
                                                        </h5>
                                                    </div>
                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=laptop">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price new-price-2">Check them out</span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="featured-pro-wrapper">
                                                <div class="product-img">
                                                    <a href="/results?query=tablet">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/2.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=tablet">Tablet</a>
                                                        </h5>
                                                    </div>

                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=tablet">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price">Check them out</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 450px;">
                                        <div class="featured-product-bundle">
                                            <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Smartphone</a>
                                                        </h5>
                                                    </div>

                                                    <h4><a class="featured-product-name" href="#">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price new-price-2">Check them out</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="featured-pro-wrapper">
                                                <div class="product-img">
                                                    <a href="/results?query=smartwatch">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=smartwatch">Smartwatch</a>
                                                        </h5>
                                                    </div>

                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=smartwatch">New in store</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price">Check them out</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 450px;">
                                        <div class="featured-product-bundle">
                                            <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                                <div class="product-img">
                                                    <a href="/results?query=laptop">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=laptop">Laptop</a>
                                                        </h5>
                                                    </div>
                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=laptop">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price new-price-2">Check them out</span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="featured-pro-wrapper">
                                                <div class="product-img">
                                                    <a href="/results?query=tablet">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=tablet">Tablet</a>
                                                        </h5>
                                                    </div>

                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=tablet">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price">Check them out</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 450px;">
                                        <div class="featured-product-bundle">
                                            <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Smartphone</a>
                                                        </h5>
                                                    </div>

                                                    <h4><a class="featured-product-name" href="#">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price new-price-2">Check them out</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="featured-pro-wrapper">
                                                <div class="product-img">
                                                    <a href="/results?query=smartwatch">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=smartwatch">Smartwatch</a>
                                                        </h5>
                                                    </div>

                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=smartwatch">New in store</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price">Check them out</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 450px;">
                                        <div class="featured-product-bundle">
                                            <div class="featured-pro-wrapper mb-30 mb-sm-25">
                                                <div class="product-img">
                                                    <a href="/results?query=laptop">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=laptop">Laptop</a>
                                                        </h5>
                                                    </div>
                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=laptop">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price new-price-2">Check them out</span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="featured-pro-wrapper">
                                                <div class="product-img">
                                                    <a href="/results?query=tablet">
                                                        <img alt=""
                                                            src="{% static 'assets/images/featured-product/1.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="featured-pro-content">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="/results?query=tablet">Tablet</a>
                                                        </h5>
                                                    </div>

                                                    <h4><a class="featured-product-name"
                                                            href="/results?query=tablet">New in stock</a></h4>
                                                    <div class="featured-price-box">
                                                        <span class="new-price">Check them out</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end owl-stage -->
                            </div> <!-- end owl-stage-outer -->
                        </div> <!-- end featured-product-active -->
                    </div> <!-- end row -->
                </div> <!-- end featured-product -->
            </div> <!-- end col-lg-9 -->
            <!-- Featured Product Area End Here -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</div> <!-- end featured-pro-with-banner -->