{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3" style="margin-top: 20px;">
                <!--Category Menu Start-->
                <div class="category-menu category-menu-2">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>categories</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list" style="display: block;">
                        <ul>
                            <li class="right-menu">
                                <a href="/results?query=laptop">Laptops</a>

                            </li>
                            <li class="right-menu"><a href="/results?query=tablet">Tablet</a>

                            </li>
                            <li class="right-menu"><a href="#">Smartphone</a>

                            </li>
                            <li><a href="/results?query=Smartwatch">Smartwatch</a></li>
                            <li><a href="#">Cameras</a></li>
                            <li><a href="#">Headphone</a></li>
                            <li><a href="#">Out Door Room</a></li>
                            <li><a href="#">Chamcham</a></li>
                            <li class="rx-child"><a href="#">Mobile &amp; Tablets</a></li>
                            <li class="rx-child"><a href="#">Accessories</a></li>
                            <li class="rx-parent">
                                <a class="rx-default">More Categories</a>
                                <a class="rx-show">Less Categories</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            <div class="col-lg-6 col-md-8">
                <div class="slider-area slider-area-3 pt-sm-30 pt-xs-30 pb-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-7">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>With <span>Free Delivery</span> Service</h5>
                                <h2>6in1 A58 Smart Watch</h2>
                                <h3>Starting at <span>br. 4,700</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'products' %}">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-8">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>With <span>Free Delivery</span> Service</h5>
                                <h2>Smartphone stabilizer gimbal</h2>
                                <h3>Starting at <span>br. 9,500</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'products' %}">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-9">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>With <span>Free Delivery</span> Service</h5>
                                <h2>Wireless Power bank</h2>
                                <h3>Starting at <span>br. 4800</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{% url 'products' %}">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-3 col-md-4 text-center pt-sm-30">
                <div class="li-banner">
                    <a href="#">
                        <img src="{% static 'assets/images/banner/3_1.jpg' %}" alt="">
                    </a>
                </div>
                <div class="li-banner mt-15 mt-sm-30 mt-xs-25 mb-xs-5">
                    <a href="#">
                        <img src="{% static 'assets/images/banner/3_2.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>



{% include 'homeProducts.html' %}

{% endblock %}